.detmenu ul{
    height: 38px;
    width: 100%;
    background: #fff;
    border-bottom: none;
}
.detmenu ul li{
    width:260px;
    float: left;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #fff6f0;
    color:#7f7f7f;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border:1px solid #f3deca;
    border-bottom:none;
}
.detmenu ul li.active{
    height: 35px;
    line-height: 33px;
    color:#7f3a1d;
    border-top:3px solid #ff5307;
    background: #fff;
}
.detmenu ul li.lbor{
    border-left:none;
}
input.text, select.text{
    margin-left: 0px;
}

.detmain{
    float: left;
    width: 100%;
}

.dettop{
    width: 100%;
    border:1px solid #f3deca;
    border-bottom:none;
    min-height: 130px;
    display: inline-block;
}
.selectUl{ width: 50%; padding-bottom: 20px; padding-top: 5px;}
.selectUl ul li{ float: left; width: 100%; margin-top: 15px;}
.selectUl ul li label{
    line-height:32px;
    width: 30%;
}
.selectUl input.text{
    width: 60%;
    height: 25px;
    line-height: 25px;
    padding-left: 15px;
}
.dettop label{
    width: 30%;
}
.dettop .inputText{
    width: 65%;
}
.detl select.text,.detr select.text{
    width: 63.3%;
    height: 25px;
    *margin-top: 16px;
    padding-bottom:8px\9;
    padding-top:8px\9;
    line-height: 37px;
    padding-left: 2%;
}
.detl input.text, .detr input.text {
    width: 60%;
    height: 25px;
    line-height: 25px;
    padding-left: 2%;
}
.detl label{
    line-height: 25px;
}
.detltit{
    height: 24px;
    line-height:24px;
    background: #fff;
    font-size: 14px;
    border-bottom:1px solid #f3deca;
    padding: 10px 0 0 26px;
}
.detl,.detr{
    width: 50%;
    *width:49%;
    padding:0;
    margin-bottom: 10px;
    margin-right: 0px;
    min-width: 480px;
}
.detl ul,.detr ul{
    padding: 10px 0;
}
.detbot {
    width: 100%;
    line-height: 105px;
    margin-top: 20px;
    padding: 0px;
    text-align: center;
    border: 1px solid #f3deca;
}
.detlins{
    width: 80%;
    background: #fff;
    margin: 0 auto;
    padding-bottom: 10px;;
}
.details label{
    width: 90px;
}
.details select.text{
    width:92px;
}
.details input.text {
    width: 89px;
}
.instit{
    display: block;
    margin:24px 0 6px 10%;
    font-size: 14px;
    font-weight: bold;
}
.dettop .details .inputText{
    width: auto;
}
.dettop .details input.text{
    padding-left: 10px;
}
.detcen{
    width:80%;
    min-width:960px;
    margin: 0 auto;
    *overflow: hidden;
}
.showFileName{
    padding-left: 105px;
}



.searchable-select-hide {
    display: none;
}

.searchable-select {
    display: inline-block;
    min-width: 200px;
    font-size: 14px;
    line-height: 1.428571429;
    vertical-align: middle;
    position: relative;
    outline: none;
}

.searchable-select-holder{
    padding: 6px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e4ddd6;
    border-radius: 0px;
    min-height: 30px;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    overflow: hidden;
}
.searchable-select-holderbg{
    background: #eee;
}

.searchable-select-caret {
    position: absolute;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border-color:#7d7268 transparent transparent transparent;
    top: 0;
    bottom: 0;
    border-style: solid;
    border-width: 5px;
    margin: auto;
    right: 10px;
}

.searchable-select-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #e4ddd6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 4px;
    border-top: none;
    top: 28px;
    left: 0;
    right: 0;
}

.searchable-select-input {
    margin-top: 5px;
    border: 1px solid #e4ddd6;
    outline: none;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
}

.searchable-scroll {
    margin-top: 4px;
    position: relative;
}

.searchable-scroll.has-privious {
    padding-top: 16px;
}

.searchable-scroll.has-next {
    padding-bottom: 16px;
}

.searchable-has-privious {
    top: 0;
}

.searchable-has-next {
    bottom: 0;
}

.searchable-has-privious, .searchable-has-next {
    height: 16px;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    z-index: 10;
    background-color: white;
    line-height: 8px;
    cursor: pointer;
}

.searchable-select-items {
    max-height: 400px;
    overflow-y: scroll;
    position: relative;
}

.searchable-select-items::-webkit-scrollbar {
    display: none;
}

.searchable-select-item {
    padding: 5px 5px;
    cursor: pointer;
    min-height: 30px;
    box-sizing: border-box;
    transition: all 1s ease 0s;
}

.searchable-select-item.hover {

    background: #edebeb;
}

.searchable-select-item.selected {
    background: #ff5037;
    color: white;
}
