<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxc.autopage.base.mapper.ElementMapper">

    <resultMap type="com.lxc.autopage.base.module.ElementPo" id="elementMap">
        <id property="id" column="ID"/>
        <result property="groupId" column="GROUP_ID"/>
        <result property="code" column="ELEMENT_CODE"/>
        <result property="name" column="ELEMENT_NAME"/>
        <result property="desc" column="ELEMENT_DESC"/>
        <result property="elementType" column="ELEMENT_TYPE"/>
    </resultMap>

    <resultMap type="com.lxc.autopage.base.module.ElementHtmlPo" id="elementHtmlMap">
        <id property="id" column="ID"/>
        <result property="ehCode" column="EH_CODE"/>
        <result property="ehValue" column="EH_VALUE"/>
        <result property="ehSuffix" column="EH_SUFFIX"/>
        <result property="ehGroupId" column="EH_GROUP_ID"/>
        <result property="htmlType" column="HTML_TYPE"/>
        <result property="ehDesc" column="EH_DESC"/>
        <result property="showSeq" column="SHOW_SEQ"/>
        <result property="gmtCreated" column="GMT_CREATED"/>
        <result property="gmtModified" column="GMT_MODIFIED"/>
    </resultMap>

    <resultMap type="com.lxc.autopage.base.module.ElementHtmlGroupPo" id="elementHtmlGroupMap">
        <id property="id" column="ID"/>
        <result property="elementId" column="ELEMENT_ID"/>
        <result property="showSeq" column="SHOW_SEQ"/>
        <result property="ehgDesc" column="EHG_DESC"/>
        <result property="gmtCreated" column="GMT_CREATED"/>
        <result property="gmtModified" column="GMT_MODIFIED"/>
    </resultMap>

    <sql id="allColumns_element">
        id, group_id, element_code, element_name, element_desc, element_type, element_etc, gmt_created, gmt_modified
    </sql>

    <sql id="allColumns_ehg">
        id, element_id, ehg_desc, show_seq, gmt_created, gmt_modified
    </sql>

    <sql id="allColumns_eh">
        id, eh_code, eh_value, eh_suffix, eh_group_id, html_type, eh_desc, show_seq, gmt_created, gmt_modified
    </sql>

    <select id="selectListByGroupId" resultMap="elementMap">
        SELECT
          <include refid="allColumns_element" />
        from tb_element
        where group_id=#{groupId, jdbcType=INTEGER}
    </select>

    <select id="selectElementHtmlGroupListByElementId" resultMap="elementHtmlGroupMap">
        SELECT
          <include refid="allColumns_ehg" />
        from tb_element_html_group
        where element_id=#{elementId, jdbcType=INTEGER}
        order by show_seq
    </select>

    <select id="selectElementHtmlListByEhgId" resultMap="elementHtmlMap">
        select
          <include refid="allColumns_eh" />
        from tb_element_html
        where eh_group_id=#{ehGroupId, jdbcType=INTEGER}
        order by show_seq
    </select>

    <select id="selectElementHtmlListByEhParentId" resultMap="elementHtmlMap">
        select
        <include refid="allColumns_eh" />
        from tb_element_html
        where eh_parent_id=#{ehParentId, jdbcType=INTEGER}
        order by show_seq
    </select>
</mapper>