.logo{background: url(../../img/backstage/logo.png) no-repeat; width: 380px; height: 60px;}
.logoText{height: 60px; line-height: 60px; overflow: hidden; padding-left: 30px; font-family: "微软雅黑", "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif, "Arial Narrow", HELVETICA; font-size: 20px; font-weight: bold; color: #ff5307;}
.headmenu{border-bottom: 1px solid #e9e7e4;}
.menu{margin-left: 30px;}
.menu li{float: left; margin-right: 20px; height: 45px;}
.menu li a{display: block; height: 14px; line-height: 12px; *line-height: 14px; margin-top: 8px; padding: 7px; color:#fff; font-size: 14px; text-decoration: none;}
.menu li.active a,.menu li a:hover{color: #ff5307; font-weight: bold; border-radius: 4px; background-color: #fff;}
.menu li.active a{color: #ff5307;}
.backlTit{height: 45px; cursor: pointer;color:#7d5930; font-weight: bold;}
/*.tIcon{display: block; width: 16px; height: 19px; float: left; margin:13px 5px 0 14px; background-position:-31px -6px;}*/
.titmessage{display: block; position: relative; float: left; width: 19px; height: 22px; background-position: -162px 0px; margin-top: 26px; margin-left: 35px;}
.titmessage:hover{background-position: -188px 0px;}
.tText{margin-top: 22px;}
.backlTit em{margin-left: 4px; margin-top: 19px; background-position: -91px 0px;}
.backlTit input{background-color: #fff; display: block; float: left; border-radius: 3px; border:none;}
.searchtext{height: 28px; line-height: 28px; width: 255px; padding-left: 10px;}
.searchimg{width:30px; height: 30px; line-height: 30px; margin-left: -4px; background-position: -124px 0px;}
/*.backlTit:hover em{background-position: -100px 0px;}*/
.fontz16{color:#754927; font-weight: bold;}
.fontz16 strong{display: block; float: left; width: 4px; height: 4px; background-color: #754927; border-radius: 50%; margin-top: 10px; margin-right: 5px;}
.backsearch{margin-top: 15px;}
.backother{height: 53px; margin: 7px 68px 0px 0px; position: relative;}
.backother:hover .adsj{background-position: -213px -12px;}
.backother a{text-decoration: none; margin-left: 16px; margin-right: 11px;}
.adsj{position: absolute; right: -2px; bottom: 6px; width: 8px; height: 8px; background-position: -213px -2px;}
.num{width: 13px; position: absolute; right: -6px; top: -4px; height: 13px; line-height: 13px; text-align: center; color:#8a4f4f; border-radius: 50%; background-color: #fdd600; font-family: "黑体","微软雅黑";}
.setup{background-position: 0px 0px; position: absolute; width: 15px; height: 15px; cursor: pointer; left: 330px; top:18px;}
.setup:hover + .setuphover{display: block;}
.setuphover:hover{display: block;}
.setuphover{display: none; position: absolute; left: 289px; top:40px; padding-top: 20px; margin-top: -20px;}
.setupCon{padding: 12px 8px; width: 74px; background-color: #fff; text-align: center; border-radius: 4px; box-shadow:0px 0px 2px #9d9791;}
.setupCon:after,.adCon:after,.adCon:before,.message:after,.message:before{content: ""; width: 14px; height: 14px; background-color: #f9f9f9; position: absolute; transform: rotate(45deg); -ms-transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg);}
.setupCon li{overflow: hidden;}
.setupCon i{display: block; float: left; width: 15px; height: 15px; background-position: -49px 0px;}
.setupCon a{float: left; margin-left: 7px;}
.adconbg{display: none; z-index: 100; *max-width: 300px; min-width: 166px; padding-top: 20px; margin-top: -20px; margin-right: 58px; position: absolute; top:64px; right: 0px;}
.adCon{background-color: #fff; z-index: 101; box-shadow:0px 0px 2px #9d9791; *border:1px solid #ccc;}
.adCon:hover{display: block;}
.adCon:after,.adCon:before{top: 16px; right: 22px; z-index: -1; box-shadow:0px 0px 2px #9d9791;}
.adTit{padding:10px 14px; line-height: 20px; position: relative; background-color: #f9f9f9;}
.adTit .modify{margin-left: 20px; color:#666;}
.adTit .modify:hover{color:#ff5307;}
.adText{border:1px solid #f1e4d4; border-left: 0px; border-right: 0px; padding: 0px 0px;}
.adText li{height: 36px; padding: 0  14px; line-height: 36px; color:#776c62; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.adText li:hover,.adText li:hover a{background-color: #fff5eb; color:#ff6600;}
.adQuit{ padding: 12px 14px;}
.adQuit:hover,.adQuit:hover a{background-color: #fff5eb; color:#ff6600;}
.adCon a{margin:0px;}
.qIcon{display: block; width: 15px; height: 15px; float: left; background-position: -109px -1px; margin-right: 4px; margin-top: 1px;}
.message{width:420px; height: 357px; z-index: 100; background-color: #fff; position: absolute; top:65px; right: 190px; box-shadow:0px 0px 2px #9d9791; *border:1px solid #ccc;}
.message:after,.message:before{top: -4px; left: 340px; z-index: -1; box-shadow:0px 0px 2px #9d9791;}
.adCon:before,.message:before{z-index: 200; box-shadow:none;}
.messagenum{float: left; padding: 0 4px; height: 13px; line-height: 13px; text-align: center; color:#8a4f4f; border-radius: 8px; background-color: #fdd600; font-family: "黑体","微软雅黑";}
.me16{color:#754927; font-size: 16px;}
.editcom{display: block; margin-top: 26px; margin-left: 6px; width:16px; height: 16px; background: url(../../img/backstage/backicon.png); background-position: 0px -87px;}
.messagecon{font-size: 14px; border:1px solid #f1e4d4; border-left: 0px; background-color: #fff; border-right: 0px; height: 315px; overflow: auto;}
.messagecon li{overflow: hidden; height: 46px; padding: 13px 14px; border-bottom:1px solid #f7eee5;}
.messagecon li:hover{background-color: #fff5eb;}
.messagecon .messageIcon{width: 46px; height: 46px; line-height: 46px; margin-right: 10px; border-radius: 50%; font-size: 20px; font-weight: bold; text-align: center; vertical-align: middle;}
.messagecon .bgc1{background-color: #ffe86a;}
.messagecon .bgc2{background-color: #b0e7fc;}
.messagecon .bgc3{background-color: #fecea8;}
.messagecon .textrest{width: 190px; white-space:nowrap; text-overflow:ellipsis; /* for internet explorer */ overflow:hidden;}
.messagecon .messageText p{height: 14px; line-height: 14px; padding: 4px 0px;}
.messagecon .messageText p i{color:#b3b3b3; margin-right: 10px;}
.messagecon .messageButton{line-height:28px; width: 70px; color:#999; padding: 9px 0px; text-align: center;}
.messagecon .messageButton a{display: block; height: 26px; line-height: 24px; padding: 0 20px; border-radius: 2px; background-color: #fee8d1; border:1px solid #f4d3b4;}
.messagecon .messageButton a:hover{background-color: #ffdbb9;}
.messagecon .messageButton:hover + .revisions{display: block;}
.messagecon .revisions:hover{display: block;}
.messagecon .revisions{line-height:28px; width: 46px; color:#999; padding: 9px 0px; text-align: left; display: none;}

.userswitch{position: absolute; display: none; z-index: 200; width: 388px; height: 346px; left: 50%; top:50%; margin-left: -194px; margin-top: -173px; overflow: hidden; border:1px solid #e7e4e2; background-color: #fff;}
.usertit{position: relative; height: 40px; line-height: 40px; background-color: #ffeddc; font-family: "微软雅黑"; font-size: 14px; color:#7f3a1d; padding-left: 22px;}
.usercon ul{width: 388px; height: 308px; overflow-y: auto;}
.usercon li{height: 76px; padding: 10px 32px; color:#666; background-color: #f9f9f9; margin-top: 5px; font-family: "宋体"; cursor: pointer;}
.usercon li:hover{color:#7f3a1d; background-color: #fff5eb;}
.usercon li.active{color:#7f3a1d; background-color: #fff5eb;}
.user1 .usericon{background-position: 0px 0px;}
.usercon li.user1:hover .usericon{background-position: -76px 0px;}
.usercon .user1.active .usericon{background-position: -76px 0px;}
.usercon li.user2 .usericon{background-position: -152px 0px;}
.usercon li.user2:hover .usericon{background-position: -228px 0px;}
.usercon .user2.active .usericon{background-position: -228px 0px;}
.usercon li.user3 .usericon{background-position: -304px 0px;}
.usercon li.user3:hover .usericon{background-position: -380px 0px;}
.usercon .user3.active .usericon{background-position: -380px 0px;}
.usericon{float: left; width: 76px; height: 76px; background: url(../../img/backstage/usericon.png) no-repeat;}
.usertext{float: left; margin-left: 20px;}
.user14{font-size: 14px; height: 14px; line-height: 14px; padding-top: 20px; padding-bottom: 10px;}
.user12{font-size: 12px; height: 12px; line-height: 12px; width: 210px; white-space:nowrap; text-overflow:ellipsis; /* for internet explorer */ overflow:hidden; padding-bottom: 20px;}
.uclose{position: absolute; right: 15px; top:15px; width: 9px; height: 9px; background: url(../../img/saas/close.png) no-repeat; cursor: pointer;}
.userswitchbg{display: none; background:#000; width:100%; height: 100%; margin:0 auto; min-width: 1200px; position: fixed; z-index:100; left: 0px; top:0px; bottom: 0px; right: 0px;
filter:alpha(opacity=20);  
      -moz-opacity:0.2;  
      -khtml-opacity: 0.2;  
      opacity: 0.2;  }


