/*收缩菜单*/
#backleft,#backleft:before{width:180px; height: 100%; background-color: #fff9f3; border-right: 1px solid #decbbf;margin-top: 8px;}
#backleft:before{content: ""; position:fixed; left: 0px; z-index: -100; top:114px;}
.bleftcon{height: 100%; display: none;}
.bleft{float:right;width:7px;height:7px;overflow:hidden;display:block;}
.bleft.fl{float: left;}
.nosty{background-position:-100px 0px;}
.bsty{background-position:-73px 0px;}
.vtitle{height:36px;line-height:36px;color:#776c62;cursor:pointer;background-color: #fef4e9;}
.tsy{background-color: #754723; color:#dfd4cb; font-size: 14px; font-weight: bold;}
.marT14{margin-top: 14px;}
.marR10{margin-right: 10px;}
.vtitle em{margin:14px 22px 0 0; background-position:-100px 0px;}
.tsy em{background-position:-73px 0px;}
.vtitle i{display: block; float: left; margin-right: 16px; width: 20px; height: 32px; background-position: 0px -55px; margin-top: 3px;}
.tsy i{background-position: 0px -21px;}
.vcon{border-bottom: 1px solid #decbbf; padding: 1px;}
.vconlist{}
.listbgc{background:#fff5eb;}
.vconlist li{overflow: hidden; cursor: pointer; border: 1px solid #fff9f3; border-left: 0px; border-right: 0px;}
.vconlist li a{height:34px;width:100%;line-height:34px;float: left; display:block;color:#776c62; text-decoration:none;}
.vconlist li i{display: block; float: left; margin: 14px 4px 0px 35px; width: 4px; height: 6px; background-position:-66px 0px;}
.vconlist li.select,.vconlist li:hover{background-color: #ffe8d2; border-color:#f4d3b3; /*box-shadow:0px 0px 1px #cfa782;*/}


